:root {
	--terminal-text: #33FF33;
	--terminal-background: #282828;
}

body {
	background: var(--terminal-background, #000);
	color: var(--terminal-text, #fff);
	display: flex;
	justify-content: center;
	padding: 1rem;
}

main {
	max-width: 800px;
}

.terminal-text-container {
	position: relative;
}

.terminal-text {
	font-size: 1.2rem;
	color: #0000;

	background-image: linear-gradient(var(--terminal-text, #fff) 0 0);
	background-repeat: no-repeat;
	background-clip: text;
	background-size: 0% 100%;

	animation-name: terminalWriteEffect;
	animation-play-state: paused;
	animation-timing-function: linear;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

@keyframes terminalWriteEffect {
	100% {
		background-size: 100% 100%;
	}
}
