:root {
	--terminal-text: #33FF33;
	--terminal-background: #282828;
}

p {
	padding: 0;
	margin: 0;
}

body {
	background: var(--terminal-background, #000);
	color: var(--terminal-text, #fff);
}

.terminal-text {
	font-size: 1.2rem;
	min-height: 1.2rem;
}

.terminal-text-overlay {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	animation-name: terminalWriteEffect;
	animation-timing-function: linear;
	animation-play-state: paused;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.terminal-text-overlay svg {
	fill: var(--terminal-background, #000);
}
@keyframes terminalWriteEffect {
	0% {
		transform-origin: right;
		transform: scaleX(1.5);
	}
	100% {
		transform-origin: right;
		transform: scaleX(0);
	}
}
