@import "susy";

$total-columns  : 5;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : .1em;

$break          : 30em 14;


.page {
  @include container($total-columns, $break);
//  @include susy-grid-background;

  header {
    @include pad(0);
  }

  blockquote {
    @include squish(0, 0);
  }
}

@include at-breakpoint($break) {
  .page {
//    @include susy-grid-background;

    header {
      @include pad(1);
    }

    nav {
      li {
        margin-left: .5em;
      }
    }

    blockquote {
      @include squish(2, 2);
    }
  }
}
