@import "susy";

$total-columns  : 3;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 1em;

.page {
  @include container();
//  @include susy-grid-background;

  header {
    @include bleed(2em);
//    @include pad(0);
    font-size: 0.7em;
  }

  nav {
    background-image: none;
    width: auto;
  }

  blockquote {
    @include squish(0, 0);
  }

  @include at-breakpoint(290px 5) {
    @include container();
//    @include susy-grid-background;

    nav {
      background-image: image-url('teapot_black.png');
      background-repeat: no-repeat;
      background-position: center;
      padding-bottom: 140px;
      margin-left: auto;
      width: 300px;
    }
  }

  @include at-breakpoint(30em 18) {
    @include container();
//    @include susy-grid-background;

    header {
//      @include pad(1);
    }

    nav {
      li {
        margin-left: .5em;
      }
    }

    blockquote {
      @include squish(2, 2);
    }
  }
}
