/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

*/

.page {
  header {
    font-size: 0.7em;
  }

  .content {
    padding: 1rem;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    font-size: 1.5rem;
  }

  nav {
    background-image: none;
    width: auto;
  }

  @media (min-width: 290px) {
    nav {
      background-image: image-url('teapot_black_small.png');
      background-repeat: no-repeat;
      background-position: center;
      padding-bottom: 140px;
      margin-left: auto;
      width: 300px;
    }
  }

  @media (min-width: 30em) {
    nav {
      li {
        margin-left: .5em;
      }
    }
  }

  @media (min-width: 321px) {
    blockquote {
      font-size: 2rem;
    }

    nav {
      background-image: image-url('teapot_black.png');
    }
  }
}

a {
  text-decoration: none;
  color: #aaa;
}

a:visited {
  color: #aaa;
}

a:hover {
  text-decoration: underline;
}

body {
  background-image: image-url('45degreee_fabric.png'); 
}

.blogs {
  ul {
    list-style: none;
    padding: 0px;

    li {
      list-style: none;

      span {
        display: block;
      }
    }
  }
}
.page .content.about {
  background-image: image-url('grey_wash_wall.png'); 
  padding: 3rem;
}

header {
  text-align: right;
  background-image: image-url('dark_wall.png');
  padding-right: 5em;

  h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 5rem;
    color: #dcdcdc;
    margin: 0px;
  }

  nav {
    ul {
      margin: 0px;
      padding: 0px;
    }
    li {
      display: inline;
      padding-left: .2em;
    }
    li:hover {
      opacity: 0.5;
    }
  }
}

blockquote {
  text-align: center;
  font-family: 'Arial Black', sans-serif;
  font-size: 1.2rem;

  footer {
    font-size: .6em;
    text-align: right;
  }
}
