body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.narration-mode .progressive {
  line-height: 1.4em;
  color: lime;
  font-family: "Courier";
  font-size: 1.5em;
  opacity: 0;
  transition: opacity 700ms ease-in-out;
}

.progressive.show {
  opacity: 1;
}

.narration-mode .about {
  line-height: 1.4em;
  color: lime;
  font-family: "Courier";
  font-size: 1.5em;
  opacity: 0;
  transition: opacity 700ms ease-in-out;
}

.about.show {
  opacity: 1;
}

a.about-icon {
  text-decoration: none;
}

.about-icon svg {
  fill: #fff;
  width: 40px;
  height: auto;
  vertical-align: middle;
}

.content {
  position: relative;
  margin: 0;
  padding: 2rem;
  background-color: #000;

  .social-links {
    text-align: center;

    .social-links__icon {
      margin: 0;
      width: 40px;
      height: 40px;
      display: inline-block;
      color: transparent;
      background-repeat: no-repeat;
      background-size: 25px;
      @media (min-height: 330px) {
        margin: 0.5rem;
        background-size: 40px;
      }
    }

    .instagram-icon {
      background-image: url('../images/instagram.png');
    }

    .github-icon {
      background-image: url('../images/github.png');
    }

    .linkedin-icon {
      background-image: url('../images/linkedin.png');
    }

    .twitter-icon {
      background-image: url('../images/twitter.png');
    }
  }
}

@mixin wiggle-animation {
  0% {
    transform: rotate( 0deg );
  }

  15% {
    transform: rotate( -6deg );
  }

  30% {
    transform: rotate( 4deg );
  }

  45% {
    transform: rotate( -4deg );
  }

  60% {
    transform: rotate( 3deg );
  }

  75% {
    transform: rotate( -2deg );
  }

  100% {
    transform: rotate( 0deg );
  }
}

@keyframes hover-wiggle {
  @include wiggle-animation;
}

@keyframes wiggle {
  @include wiggle-animation;
}
