div {
  box-sizing: border-box;
}

.intro-area {
  position: relative;
  margin: 0;
  padding: 2rem;
  height: 100vh;
  min-height: 280px;
  background-color: #ccc;
  background-image: url('../images/whitey.png');
  box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.55);

  .intro-area__container {
    margin: 0 auto;
    display: table;

    @media (min-height: 650px) {
      margin: 20vh auto 0 auto;
    }
  }

  .name {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  .social-links {
    text-align: center;

    .social-links__icon {
      margin: 0;
      width: 40px;
      height: 40px;
      display: inline-block;
      color: transparent;
      background-repeat: no-repeat;
      background-size: 25px;
      @media (min-height: 330px) {
        margin: 0.5rem;
        background-size: 40px;
      }
    }

    .instagram-icon {
      background-image: url('../images/instagram.png');
    }

    .github-icon {
      background-image: url('../images/github.png');
    }

    .linkedin-icon {
      background-image: url('../images/linkedin.png');
    }

    .twitter-icon {
      background-image: url('../images/twitter.png');
    }
  }

  .scroll-button-image {
    text-decoration: none;

    margin: 1rem auto 0 auto;
    background: url('../images/chasen-icon-down.png');
    background-repeat: no-repeat;
    background-position-y: 0.5em;
    background-position-x: 0.5em;
    display: block;
    width: 100px;
    height: 170px;
    transform-origin: top center;
    animation: wiggle 700ms 5s ease;

    &:hover {
      animation: hover-wiggle 650ms ease;
    }

    @media (max-height: 470px) {
      background: none;
      height: 2em;
      width: 200px;
    }
  }

  .scroll-button-text {
    display: none;
    border-radius: 24px;
    color: #ffffff;
    font-size: 18px;
    background: #BE7830;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    text-align: center;
    position: absolute;
    bottom: 4vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 250px;
    @media (min-height: 390px) {
      display: block;
    }
  }
}

@mixin wiggle-animation {
  0% {
    transform: rotate( 0deg );
  }

  15% {
    transform: rotate( -6deg );
  }

  30% {
    transform: rotate( 4deg );
  }

  45% {
    transform: rotate( -4deg );
  }

  60% {
    transform: rotate( 3deg );
  }

  75% {
    transform: rotate( -2deg );
  }

  100% {
    transform: rotate( 0deg );
  }
}

@keyframes hover-wiggle {
  @include wiggle-animation;
}

@keyframes wiggle {
  @include wiggle-animation;
}

.menu-area {
  font-family: monospace;
  font-size: 1.1em;
  height: 100vh;
  min-height: 500px;
  color: #fff;
  background-color: #fdfdfd;
  background-image: url('../images/golden_teacup_min.png');
  background-size: auto 100%;
  background-position: 50%;

  @media (min-width: 1060px) {
    background-size: 100% auto;
  }

  .menu-area__container {
    max-width: 800px;
    margin: 0 auto 0 auto;
    padding: 1em 2em;
    background-color: rgba(0, 0, 0, 0.7);

    a, a:visited {
      color: #FFD9AE;
    }
  }

  .name {
    font-size: 1.5em;
  }

  .description {
    @media (min-width: 600px) {
      font-size: 1.2em;
      line-height: 1.4;
    }
  }
}
