.content-box-area.inside{itemscope: true, itemtype: "http://schema.org/Person"}

  .content-box-column.column1

    .content-box.about-box
      .inner
        .avatar= image_tag('wedding_avatar.jpg', title: 'Payton')
        .title
          %span{itemprop: "name"} Payton Swick
        .description 
          %p Vegan. Digital craftsman. Tea explorer. Avid learner of things.
          %p <span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">I write code <a itemprop="url" href="http://automattic.com/">@<span itemprop="name">automattic</span></a></span>.

    %a{href: 'https://someteawith.me/'}
      .content-box.tea-blog-box
        .inner
          .icon.icon-stack
            %i.icon-circle.icon-stack-base.icon-light
            %i.icon-leaf
          .title someteawith.me
          .description Tea is not what you think.

    %a{href: 'http://greenleaftaichi.com/'}
      .content-box.taiji-blog-box
        .inner
          .icon.icon-stack
            %i.icon-circle.icon-stack-base.icon-light 
            %i.icon-custom ☯
          .title Green Leaf Tai Chi
          .description Be present.

  .content-box-column.column2

    %a{href: 'https://github.com/sirbrillig'}
      .content-box.github-box
        .inner
          .icon.icon-stack
            %i.icon-circle.icon-stack-base.icon-light
            %i.icon-github
          .title Github
          .description Read my code.

    %a{href: 'https://twitter.com/sirbrillig'}
      .content-box.twitter-box
        .inner
          .icon.icon-stack
            %i.icon-circle.icon-stack-base.icon-light
            %i.icon-twitter
          .title Twitter
          .description Random comments about things that interest me. @sirbrillig

    %a{href: 'https://www.linkedin.com/in/paytonswick'}
      .content-box.linkedin-box
        .inner
          .icon.icon-stack
            %i.icon-circle.icon-stack-base.icon-light
            %i.icon-linkedin
          .title LinkedIn
          .description My professional info.
