#top.intro-area
  .intro-area--container
    .name
      Payton Swick
    %a.scroll-button-image{:href => '#menu-area', :'data-scroll' => ''}
    .social-links
      %a.twitter-icon{:href => 'https://twitter.com/sirbrillig'} Twitter
      %a.github-icon{:href => 'https://github.com/sirbrillig'} Github
      %a.instagram-icon{:href => 'http://instagram.com/sirbrillig'} Instagram
      %a.linkedin-icon{:href => 'http://www.linkedin.com/in/paytonswick/'} Linkedin
    %a.scroll-button-text{:href => '#menu-area', :'data-scroll' => ''}
      Scroll down, Traveller

#menu-area.menu-area
  .menu-area--container
    .name
      Hi! I'm Payton.
    .description
      :markdown
        I like to hand-craft code to create things on the virtual canvas of the digital realm... or possibly I just like to sit around and drink tea. I always get those two mixed up.

        I write about [tea](http://someteawith.me/) a lot, but I also have been known to write about [other things](https://whatpaytonfound.wordpress.com/).

        During the day I work on web application development at [Automattic](https://automattic.com/), but if I'm not doing anything else you'll find me talking about things on [Twitter](https://twitter.com/sirbrillig) and posting code on [Github](https://github.com/sirbrillig).
