#top.intro-area
  .name
    Payton
  %a.scroll-button{:href => '#menu-area'}
    scroll down
  .social-links
    %a.twitter-icon{:href => 'https://twitter.com/sirbrillig'} Twitter
    %a.github-icon{:href => 'https://github.com/sirbrillig'} Github
    %a.instagram-icon{:href => 'http://instagram.com/sirbrillig'} Instagram
    %a.linkedin-icon{:href => 'http://www.linkedin.com/in/paytonswick/'} Linkedin

#menu-area.menu-area
  .name
    Payton Swick
  .description
    Vegan. Digital craftsman. Tea Explorer. Avid learner of things.
  .menu-links
    .header
      Menu
    .menu-link
      .menu-link--title
        %a{:href => 'http://someteawith.me/'} Some Tea With Me
      .menu-link--description
        Tea writing with plenty of photographs to whet your tastebuds and bring peace to your tired mind.
    .menu-link
      .menu-link--title
        %a{:href => 'https://whatpaytonfound.wordpress.com/'} What Payton Found
      .menu-link--description
        Disorganized rambling and links to sundry Internet destinations.
    .menu-link
      .menu-link--title
        %a{:href => 'http://greenleaftaichi.com'} Green Leaf Tai Chi
      .menu-link--description
        Classes and writing on the ancient art of Taijichuan.
