#top.intro-area
  .intro-area--container
    .name
      Payton
    %a.scroll-button{:href => '#menu-area', :'data-scroll' => ''}
      scroll down, traveller
    .social-links
      %a.twitter-icon{:href => 'https://twitter.com/sirbrillig'} Twitter
      %a.github-icon{:href => 'https://github.com/sirbrillig'} Github
      %a.instagram-icon{:href => 'http://instagram.com/sirbrillig'} Instagram
      %a.linkedin-icon{:href => 'http://www.linkedin.com/in/paytonswick/'} Linkedin

#menu-area.menu-area
  .name
    Hi! I'm Payton.
  .description
    I like to write things, play with code, and create. But more than anything else, I enjoy exploring and learning about this amazing world in which I live.
  .menu-links
    .header
      My Blogs:
    .menu-link
      .menu-link--title
        %a.someteawith{:href => 'http://someteawith.me/'} Some Tea With Me
    .menu-link
      .menu-link--title
        %a.whatpaytonfound{:href => 'https://whatpaytonfound.wordpress.com/'} What Payton Found
    .menu-link
      .menu-link--title
        %a.greenleaftaichi{:href => 'http://greenleaftaichi.com'} Green Leaf Tai Chi
