.container {
	--interest-code-color: #6E85B7;
	--interest-code-blog-color: #A66CFF;
	--interest-dnd-blog-color: #AD8B73;
	--background-color: #E3E2E2;
	--cloud-color: #FFFFFF;
	--mountain-color: #EE964B;
	--control-background: #3E3E3E;
	--control-highlight: #0698B5;
	--control-text: #F1F1F1;
	--title-text: #3E3E3E;
	--title-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	--title-font: 'Noto Serif', serif;
	--body-font: 'Noto Sans', sans-serif;
	--cloud-width: 195px;
	--cloud-width-min-padding: 5px;
	--cloud-top-margin: 7em;
	--cloud-drift-distance: 40px;
	--mountain-height: 500px;
}

.container {
	background-color: var(--background-color);
	color: var(--control-text);
}

.mountains {
	background-image: url('/Mountains.svg');
	background-repeat: repeat-x;
	width: 100%;
	height: var(--mountain-height);
	position: fixed;
}

.bottom-clouds {
	background-color: var(--cloud-color);
	width: 100%;
	height: var(--mountain-height);
	top: calc(var(--mountain-height) - calc(var(--mountain-height) / 2));
	position: fixed;
}

@keyframes verticalWobble {
	from {
		background-position-y: 0px;
	}
	to {
		background-position-y: 10px;
	}
}

@keyframes horizontalDrift {
	from {
		background-position-x: 0px;
	}
	to {
		background-position-x: var(--cloud-drift-distance);
	}
}

.cloud {
	width: calc(var(--cloud-width) + var(--cloud-drift-distance));
	height: 200px;
	position: fixed;
	background-position: 0px 0px;
	animation: horizontalDrift 15s ease-in-out infinite alternate,
		verticalWobble 2s ease-in-out infinite alternate;
	animation-delay: 0s;
	background-repeat: no-repeat;
	background-image: url(/Cloud.svg);
}

.clouds > div:nth-child(1) {
	left: calc(var(--cloud-width) * 0 + var(--cloud-width-min-padding) - 85px);
	top: calc(var(--cloud-top-margin) + 0px);
	animation-delay: 0s;
}
.clouds > div:nth-child(2) {
	left: calc(var(--cloud-width) * 1 + var(--cloud-width-min-padding) + 15px);
	top: calc(var(--cloud-top-margin) + 70px);
	animation-delay: 2s;
	transform: rotate(-16deg);
}
.clouds > div:nth-child(3) {
	left: calc(var(--cloud-width) * 2 + var(--cloud-width-min-padding) + 20px);
	top: calc(var(--cloud-top-margin) + 32px);
	animation-delay: 1s;
	transform: rotate(216deg);
}
.clouds > div:nth-child(4) {
	left: calc(var(--cloud-width) * 3 + var(--cloud-width-min-padding) + 130px);
	top: calc(var(--cloud-top-margin) + 10px);
	animation-delay: 3.8s;
	transform: rotate(-24deg);
}
.clouds > div:nth-child(5) {
	left: calc(var(--cloud-width) * 4 + var(--cloud-width-min-padding) + 90px);
	top: calc(var(--cloud-top-margin) + 135px);
	animation-delay: 1.9s;
	transform: rotate(5deg);
}
.clouds > div:nth-child(6) {
	left: calc(var(--cloud-width) * 5 + var(--cloud-width-min-padding) + 135px);
	top: calc(var(--cloud-top-margin) + 65px);
	animation-delay: 2.7s;
	transform: rotate(-10deg);
}
.clouds > div:nth-child(7) {
	left: calc(var(--cloud-width) * 6 + var(--cloud-width-min-padding) + 158px);
	top: calc(var(--cloud-top-margin) + -20px);
	animation-delay: 1.1s;
	transform: rotate(18deg);
}
.clouds > div:nth-child(8) {
	left: calc(var(--cloud-width) * 7 + var(--cloud-width-min-padding) + 175px);
	top: calc(var(--cloud-top-margin) + 69px);
	animation-delay: 1.6s;
	transform: rotate(-105deg);
}
.clouds > div:nth-child(9) {
	left: calc(var(--cloud-width) * 8 + var(--cloud-width-min-padding) + 205px);
	top: calc(var(--cloud-top-margin) + 35px);
	animation-delay: 1s;
	transform: rotate(5deg);
}
.clouds > div:nth-child(10) {
	left: calc(var(--cloud-width) * 9 + var(--cloud-width-min-padding) + 175px);
	top: calc(var(--cloud-top-margin) + 9px);
	animation-delay: 2.6s;
	transform: rotate(-15deg);
}

.main {
	min-height: 100vh;
	padding: 5em 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.body {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.title {
	color: var(--title-text);
	text-shadow: var(--title-shadow);
	font-family: var(--title-font);
	font-style: normal;
	font-weight: 400;
	font-size: 4em;
	line-height: 1.2em;
	margin: 0;
}

.subtitle {
	color: var(--title-text);
	text-shadow: var(--title-shadow);
	font-family: var(--body-font);
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
	line-height: 27px;
}

@keyframes rotateInterests1 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(60deg);
	}
}

@keyframes rotateInterests2 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(calc(60deg * 2));
	}
}

@keyframes rotateInterests3 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(calc(60deg * 3));
	}
}

@keyframes rotateInterests4 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(calc(60deg * 4));
	}
}

@keyframes rotateInterests5 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(calc(60deg * 5));
	}
}

.interests {
	position: relative;
	width: calc(calc(400px/6) * 2.5);
}

.interests__section {
	position: absolute;
	transform-origin: bottom center;
	text-align: center;
	display: flex;
	justify-content: center;
	font-size: 1.3em;
	padding: 1em 4em;
	width: 240px;
	height: 150px;
	background-image: url(/Interest_Segment.svg);
	background-repeat: no-repeat;
	background-position-x: center;
	background-size: 90%;
	max-width: calc(400px/6);
	animation-duration: 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

.interests__section:nth-child(1) {
	transform: rotate(0deg);
}

.interests__section:nth-child(2) {
	animation-name: rotateInterests1;
}

.interests__section:nth-child(3) {
	animation-name: rotateInterests2;
}

.interests__section:nth-child(4) {
	animation-name: rotateInterests3;
}

.interests__section:nth-child(5) {
	animation-name: rotateInterests4;
}

.interests__section:nth-child(6) {
	animation-name: rotateInterests5;
}

.card {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	text-decoration: none;
	border: 1px solid #0070f3;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	max-width: 300px;
	color: #0070f3;
}

.card h2 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}

.card ul {
	padding-left: 1em;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

.interest__code {
	border-color: var(--interest-code-color);
	background-color: var(--interest-code-color);
	color: #fff;
}

.interest__code-blog {
	border-color: var(--interest-code-blog-color);
	background-color: var(--interest-code-blog-color);
	color: #fff;
}

.interest__dnd {
	border-color: var(--interest-dnd-blog-color);
	background-color: var(--interest-dnd-blog-color);
	color: #fff;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}

@media (prefers-color-scheme: dark) {
}
