.container {
	--interest-code-color: #6E85B7;
	--interest-code-blog-color: #A66CFF;
	--interest-dnd-blog-color: #AD8B73;
	--background-color: #E3E2E2;
	--cloud-color: #FFFFFF;
	--mountain-color: #EE964B;
	--control-background: #3E3E3E;
	--control-highlight: #0698B5;
	--control-text: #F1F1F1;
	--title-text: #3E3E3E;
	--title-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	--title-font: 'Noto Serif', serif;
	--body-font: 'Noto Sans', sans-serif;
}

.container {
	background-color: var(--background-color);
	color: var(--control-text);
}

.mountains {
	background-image: url('/Mountains.svg');
	background-repeat: no-repeat;
	background-position-y: 52%;
}

.bottom-clouds {
	background-image: url('/Bottom_Clouds.svg');
	background-repeat: no-repeat;
	background-position-y: 120%;
}

.top-clouds {
	background-image: url('/Top_Clouds.svg');
	background-repeat: no-repeat;
	background-position-y: 2%;
}

.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	color: var(--title-text);
	text-shadow: var(--title-shadow);
	font-family: var(--title-font);
	font-style: normal;
	font-weight: 400;
	font-size: 4em;
	line-height: 1.2em;
	margin: 0;
}

.subtitle {
	color: var(--title-text);
	text-shadow: var(--title-shadow);
	font-family: var(--body-font);
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
	line-height: 27px;
}

.interests {
	display: grid;
	grid-template-columns: 150px 150px 150px 150px 150px 150px;
	grid-template-rows: 150px 150px 150px 150px 150px 150px;
	grid-template-areas:
	". . segment1 segment1 . ."
	"segment6 segment6 segment1 segment1 segment2 segment2"
	"segment6 segment6 . . segment2 segment2"
	"segment5 segment5 . . segment3 segment3"
	"segment5 segment5 segment4 segment4 segment3 segment3"
	;
}

.interests__section {
	text-align: center;
	font-size: 2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 28%;
	background-image: url('/Interest_Segment.svg');
	background-repeat: no-repeat;
	width: 291px;
	height: 300px;
}

.interests__section:nth-child(1) {
	transform: rotate(0deg);
	grid-area: segment1;
}

.interests__section:nth-child(2) {
	transform: rotate(60deg);
	grid-area: segment2;
}

.interests__section:nth-child(3) {
	transform: rotate(120deg);
	grid-area: segment3;
}

.interests__section:nth-child(4) {
	transform: rotate(180deg);
	grid-area: segment4;
}

.interests__section:nth-child(5) {
	transform: rotate(240deg);
	grid-area: segment5;
}

.interests__section:nth-child(6) {
	transform: rotate(300deg);
	grid-area: segment6;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: left;
	flex-wrap: wrap;
	max-width: 800px;
}

.card {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	text-decoration: none;
	border: 1px solid #0070f3;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	max-width: 300px;
	color: #0070f3;
}

.card h2 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}

.card ul {
	padding-left: 1em;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

.interest__code {
	border-color: var(--interest-code-color);
	background-color: var(--interest-code-color);
	color: #fff;
}

.interest__code-blog {
	border-color: var(--interest-code-blog-color);
	background-color: var(--interest-code-blog-color);
	color: #fff;
}

.interest__dnd {
	border-color: var(--interest-dnd-blog-color);
	background-color: var(--interest-dnd-blog-color);
	color: #fff;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}

@media (prefers-color-scheme: dark) {
}
